/* Mercedes */
.HAM,
.BOT {
  border-right: 6px solid rgb(0, 210, 190);
}

/* Ferrari */
.VET,
.LEC {
  border-right: 6px solid rgb(220,0,0);
}

/* Red Bull */
.VER,
.GAS {
  border-right: 6px solid rgb(30,65,255);
}

/* Renault */
.HUL,
.RIC {
  border-right: 6px solid rgb(255,245,0);
}

/* Haas */
.GRO,
.MAG {
  border-right: 6px solid rgb(240,215,135);
}

/* McLaren */
.SAI,
.NOR {
  border-right: 6px solid rgb(255,135,0);
}

/* Toro Rosso */
.KVY,
.ALB {
  border-right: 6px solid rgb(70,155,255);
}

/* Alfa Romeo */
.RAI,
.GIO {
  border-right: 6px solid rgb(155,0,0);
}

/* Racing Point*/
.PER,
.STR {
  border-right: 6px solid rgb(245,150,200);
}

/* Williams */
.RUS,
.KUB {
  border-right: 6px solid rgb(255, 255, 255);
}
